

.home_container{
 display: grid;
}

.home_navbars{
  gap: 1em;
  grid-template-rows: auto;
}
.controler_navbar{
  
}
.home_Genders{
  
}

.home_container_movies{
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}

