.home_topbar {
  padding: 15px 15px;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.home_topbar-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}


.home_topbar-user {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


// Movie Container
.home_container_movies{
  background: linear-gradient(140deg, #2dc9dd, $dark);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
  justify-content: center;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}